@import "tailwindcss";

@theme {
  --color-mint: #1A6840;
  --color-gold: #FBDC92;
  --color-persimmon: #E44821;
}

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
